#root {
  min-height: 100vh;
}

.App {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  min-height: 100vh;
}

#search {
  width: 100%;
}

#search_text{
  padding: 15px 5px 15px 20px;
  font-family: Montserrat, sans-serif;
  border: 0 none;
  width: 85%;
  height: 45px;
  margin-right: 0;
  color: white;
  outline: none;
  background: rgb(33, 37, 41);
  float: left;
  box-sizing: border-box;
  transition: all 0.15s;
}
::-webkit-input-placeholder { /* WebKit browsers */
  color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: white;
}
#search_text:focus {
  background: rgb(33, 37, 41, 0.75);
}
#search_button {
  border: 0 none;
  background: rgb(33, 37, 41) center no-repeat;
  width: 15%;
  float: left;
  padding: 0;
  text-align: center;
  height: 45px;
  cursor: pointer;
}

#search_button > * {
  width: 40%;
  height: 40%;
}

/*
*
* DROPDOWN NAVBAR
*
*/

.menu-item {
  width: 50%;
  float: inherit;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-navbar {
  width: 30rem;
  font-size: small;
}

.menu-navbar p {
  font-size: 20px;
}

.menu-navbar ul li:last-child {
  margin-bottom: 20px;
}

.menu-item ul {
  margin-top: 10%;
  margin-left: -75%;
  list-style-type: none;
  height: 0px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  width: 250%;
  overflow: auto;
  z-index: 10;

  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -o-transition: height 1s ease;
  -ms-transition: height 1s ease;
  transition: height 0.75s ease;
}

.menu-item:hover ul {
  height: 500%;
  width: 250%;
}

.menu-item-title {
  color: white;
  background: rgb(33, 37, 41);
  font-family: Montserrat, sans-serif;
  text-align: center;
  padding: 8px 20px 8px 20px;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  margin: 0 15px 0 15px;
  display: block;
  width: 100%;
}

.menu-item-button {
  background: rgb(240, 240, 240);
  border-radius: 8px;
  padding: 15px 30px;
  border: none;
  color: black;
  position: relative;
  cursor: pointer;
  margin-bottom: 25px;
  align-items: center;
  font-size: 20px;
  width: 100%;
  margin: 0 auto 0 -0.25rem;
  border-radius: 4px;
  margin-top: 15px;

}

@media only screen and (max-width: 992px) {
  .menu-item ul {
    margin-top: 5%;
    margin-left: -25%;
    width: 150%;
  }

  .menu-item:hover ul {
    width: 150%;
  }
}

/*
*
* FORM
*
*/

.form-dark {
  background-size:cover;
  position:relative;
}

.form-dark form {
  padding:40px;  
}

.form-dark-form {
  max-width:500px;
  width:90%;
  background-color:rgb(33, 37, 41);
  border-radius:4px;
  transform:translate(-50%, 10%);
  position:relative;
  top:50%;
  left:50%;
  color:#fff;
  box-shadow:3px 3px 4px rgba(0,0,0,0.4);
}

.form-dark .illustration {
  text-align:center;
  padding:15px 0 20px;
  font-size:100px;
  color:#2980ef;
}

.form-dark form .form-control {
  background:none;
  border:none;
  border-bottom:1px solid #4b5055;
  border-radius:0;
  box-shadow:none;
  outline:none;
  color:inherit;
}

.form-dark form .forgot {
  display:block;
  text-align:center;
  font-size:12px;
  color:#6f7a85;
  opacity:0.9;
  text-decoration:none;
  cursor: pointer;
}

.form-dark form .forgot:hover, .form-dark form .forgot:active {
  opacity:1;
  text-decoration:none;
}

.form-dark form .btn-primary:active {
  transform:translateY(1px);
}